body {
    display: flex;
    min-height: 100vh;
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    flex-basis:15%;
    background-color: #e0e0e0;
}

.sidebar img {
    max-width: 70%;
    height: auto;
    margin: 20px;
    border-radius: 100px;
}

.sidebar li {
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 23px;
}

.sidebar .bottom-links {
    margin-top: 280px;
}

.sidebar .nav-link {
    color: black;
    opacity: 0.35;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar .nav-link:hover {
    color: #014130;
    background-color: #aae3a3;
    border-radius: 15px;
    margin-right: 15px;
}

.right-content {
    min-width: x/1.6;
    max-width: x/1.6;
    margin-right: 55px;
}

#Profile,
#Top-Product-Sold,
#Order-Summary {
    border-radius: 15px;
    margin-top: 15px;
    background-color: white;
}

#Profile {
    width: 197px;
    height: 57.5px;
}

#Top-Product-Sold,
#Order-Summary {
    width: 270px;
    height: 223px;
}

#Order-Summary{
    height: 250px;
}

.nav-item .container {
    margin: 14px;
    border:1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h5{
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.product-list {
    display: flex;
    flex-direction: column;
}

.product-item, .order-item{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.card {
    border-radius: 15px;
    text-align: center;
}

.on-kitchen, .delivered,  .completed{
    justify-content: left;
    width: 236px;
    height: 50px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 15px;
}

.text-green {
    color: green;
    font-weight: bold;
}

.container .icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.nav-item h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 34px;
    height: auto;
    margin-right: 10px;
    border-radius: 100px;
}


.profile-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: black;
}

.profile-info .Profile-Name {
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px;
}
body {
    display: flex;
    min-height: 100vh;
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    flex-basis:15%;
    background-color: #e0e0e0;
}

.sidebar img {
    max-width: 70%;
    height: auto;
    margin: 20px;
    border-radius: 100px;
}

.sidebar li {
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 23px;
}

.sidebar .bottom-links {
    margin-top: 280px;
}

.sidebar .nav-link {
    color: black;
    opacity: 0.35;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar .nav-link:hover {
    color: #014130;
    background-color: #aae3a3;
    border-radius: 15px;
    margin-right: 15px;
}

.right-content {
    min-width: x/1.6;
    max-width: x/1.6;
    margin-right: 55px;
}

#Profile,
#Top-Product-Sold,
#Order-Summary {
    border-radius: 15px;
    margin-top: 15px;
    background-color: white;
}

#Profile {
    width: 197px;
    height: 57.5px;
}

#Top-Product-Sold,
#Order-Summary {
    width: 270px;
    height: 223px;
}

#Order-Summary{
    height: 250px;
}

.nav-item .container {
    margin: 14px;
    border:1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h5{
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.product-list {
    display: flex;
    flex-direction: column;
}

.product-item, .order-item{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.card {
    border-radius: 15px;
    text-align: center;
}

.on-kitchen, .delivered,  .completed{
    justify-content: left;
    width: 236px;
    height: 50px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 15px;
}

.text-green {
    color: green;
    font-weight: bold;
}

.container .icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.nav-item h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 34px;
    height: auto;
    margin-right: 10px;
    border-radius: 100px;
}


.profile-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: black;
}

.profile-info .Profile-Name {
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px;
}
